@charset "utf-8";
/* CSS Document */
@import url('reset.css');


html{
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top,  #a0d8ef 0%, #b8e0f0 65%, #bfe3f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0d8ef), color-stop(65%,#b8e0f0), color-stop(100%,#bfe3f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a0d8ef 0%,#b8e0f0 65%,#bfe3f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a0d8ef 0%,#b8e0f0 65%,#bfe3f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a0d8ef 0%,#b8e0f0 65%,#bfe3f2 100%); /* IE10+ */
	background: linear-gradient(top,  #a0d8ef 0%,#b8e0f0 65%,#bfe3f2 100%); /* W3C */
	background-repeat:no-repeat;
	background-attachment:fixed;
}
body{

	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

a{
	outline:none;
	color:#F30;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

#wrapper{
	margin:0 20px;
	
}

#header{
	height:50px;
	position:fixed;
	clear:both;
	width:200px;
}

#header_inner{
	width:200px;
	margin:0 0 0 10px;
}

#wrapper_content{
	background:#fff;
}

#sidebar{
	float:left;
	width:230px;
	border-right:1px solid #AAAAAA;
	position:fixed;
	margin-right:10px;
	
}

#content{
	padding-top:20px;
	margin-left:220px;
	padding-left:20px;
	
}


#sidebar_menu
{
	
	width:220px;
	background:#fff;
	text-align:left;
	margin-left:0px;
	padding-left:0px;
	margin-top:20px;
	position:fixed;
}
#sidebar_menu a
{
	text-decoration:none;
	color:#000;
}
#sidebar_menu li 
{
	padding:4px 0 4px 0;
	list-style:none;
	list-style-type:none;
	text-indent:10px;
}
#sidebar_menu li:hover
{
	background:#FFFFCC;
}
#sidebar_menu li span
{
	width:100%;
	cursor:pointer;
}

#sidebar_menu .current {
    background: none repeat scroll 0 0 #D8DFEE;
    font-weight: bold;
}

#sidebar_menu .spiter
{
	border-top:1px solid #ccc;
	height:1px;
	line-height:1px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}

.clear{
	clear:both;
}

.content_body{
	padding:20px;
	overflow:visible;
}

#smenu{
	padding-top:50px;
	width:200px;
	margin:10px;
	font-size:14px !important;
	
}
iframe{
	width:100%;
	height:500px;
	border:none;
	overflow:visible;
}

h1,h2,h3
{
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color:#0065CE;
	font-weight:regular;
	margin:3px 0 15px 0;
}

h1{
	font-size:20px;
	text-transform:uppercase;
	border-bottom:2px solid #0065CE;
	margin-bottom:20px;
}

h2{
	font-size:16px;
}

input[type=submit]{
	background:#B0281A;
	width:100px;
	border-radius:5px;
	font-weight:bold;
	color:#FFF;
	border:#990000 1px solid;
	margin:8px;
}
input[type=submit]:hover{
	background:#CC0000;
	width:100px;
	border-radius:5px;
	font-weight:bold;
	color:#FFF;
	border:#990000 1px solid;
	
}

input[type=checkbox]{
	width:20px;
}
.center{
	text-align:center;
}

.line_label{
	font-size:16px;
	text-transform:capitalize;
	display:block;
	padding:3px 0;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

.msg{
	padding:5px;
	border:#999999 1px solid;
	
}
	
.footer{
	text-align:right;
	font-size:10px;
	position:fixed;
	bottom:10px;
	right:10px;
}

.spacer_15{
	height:15px;
}

.spacer_30{
	height:30px;
}

.splitter{
	height:1px;
	margin:10px 10px;
	background:#999999;
}

#ajax_target_dic a{
	display:block;
	padding:4px;
	font-size:14px;
}

span.list{
	display:block;
	font-size:14px;
	padding:4px;
}

.fullw{
	width:95%;
}

td{
	vertical-align:top;
}

.left{
	float:left;
}

.half{
	width:44%;
	padding:5px;
}

.box_rotate {
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
}

fieldset { border:1px solid #003;
padding:20px;}

legend {
  padding: 0.2em 0.5em;
  border:1px solid #003;
  color:green;
  font-size:90%;
  text-align:right;
  }
  
  label span{
	  display:block;
	  margin-bottom:6px;
	  font-size:14px;
  }
  
  input,textarea{
	  border:#999999 1px solid;
  }
  
  .data_tab{
	margin:5px 0 10px 0;
	padding:5px; 
	}

.data_tab ul li{
	list-style:disc;
	margin: 0 10px;
}

.case_up{
	text-transform:uppercase;
	}
	
	
	.msg {border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; padding: 10px; margin: 10px 0;}
.msg span {padding: 1px 0 1px 25px}

.success {
    background: #ccebc3; border: 1px solid #8fa489;
    background: -moz-linear-gradient(top, #ccebc3 0%, #c6e8bc 50%, #bae4ae 51%, #b4e1a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccebc3), color-stop(50%,#c6e8bc), color-stop(51%,#bae4ae), color-stop(100%,#b4e1a7));
    background: -webkit-linear-gradient(top, #ccebc3 0%,#c6e8bc 50%,#bae4ae 51%,#b4e1a7 100%);
    background: -o-linear-gradient(top, #ccebc3 0%,#c6e8bc 50%,#bae4ae 51%,#b4e1a7 100%);
    background: -ms-linear-gradient(top, #ccebc3 0%,#c6e8bc 50%,#bae4ae 51%,#b4e1a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebc3', endColorstr='#b4e1a7',GradientType=0 );
    background: linear-gradient(top, #ccebc3 0%,#c6e8bc 50%,#bae4ae 51%,#b4e1a7 100%);
}
.success span {background: url(../images/fugue/tick.png) no-repeat center left;}

.failure {
    background: #ebc8c8; border: 1px solid #a48c8c;
    background: -moz-linear-gradient(top, #ebc8c8 0%, #e8c2c2 50%, #e4b5b5 51%, #dfadad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebc8c8), color-stop(50%,#e8c2c2), color-stop(51%,#e4b5b5), color-stop(100%,#dfadad));
    background: -webkit-linear-gradient(top, #ebc8c8 0%,#e8c2c2 50%,#e4b5b5 51%,#dfadad 100%);
    background: -o-linear-gradient(top, #ebc8c8 0%,#e8c2c2 50%,#e4b5b5 51%,#dfadad 100%);
    background: -ms-linear-gradient(top, #ebc8c8 0%,#e8c2c2 50%,#e4b5b5 51%,#dfadad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebc8c8', endColorstr='#dfadad',GradientType=0 );
    background: linear-gradient(top, #ebc8c8 0%,#e8c2c2 50%,#e4b5b5 51%,#dfadad 100%);
}
.failure span {background: url(../images/fugue/cross.png) no-repeat center left;}

.warning {
    background: #f6efc1; border: 1px solid #aca787;
    background: -moz-linear-gradient(top, #f6efc1 0%, #f5edb9 50%, #f3e9aa 51%, #f2e7a3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6efc1), color-stop(50%,#f5edb9), color-stop(51%,#f3e9aa), color-stop(100%,#f2e7a3));
    background: -webkit-linear-gradient(top, #f6efc1 0%,#f5edb9 50%,#f3e9aa 51%,#f2e7a3 100%);
    background: -o-linear-gradient(top, #f6efc1 0%,#f5edb9 50%,#f3e9aa 51%,#f2e7a3 100%);
    background: -ms-linear-gradient(top, #f6efc1 0%,#f5edb9 50%,#f3e9aa 51%,#f2e7a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6efc1', endColorstr='#f2e7a3',GradientType=0 );
    background: linear-gradient(top, #f6efc1 0%,#f5edb9 50%,#f3e9aa 51%,#f2e7a3 100%);
}
.warning span {background: url(../images/fugue/exclamation.png) no-repeat center left;}

.notice {
    background: #dae6ee; border: 1px solid #98a1a6;
    background: -moz-linear-gradient(top, #dae6ee 0%, #d6e3ec 50%, #cddde8 51%, #c8dae6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae6ee), color-stop(50%,#d6e3ec), color-stop(51%,#cddde8), color-stop(100%,#c8dae6));
    background: -webkit-linear-gradient(top, #dae6ee 0%,#d6e3ec 50%,#cddde8 51%,#c8dae6 100%);
    background: -o-linear-gradient(top, #dae6ee 0%,#d6e3ec 50%,#cddde8 51%,#c8dae6 100%);
    background: -ms-linear-gradient(top, #dae6ee 0%,#d6e3ec 50%,#cddde8 51%,#c8dae6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae6ee', endColorstr='#c8dae6',GradientType=0 );
    background: linear-gradient(top, #dae6ee 0%,#d6e3ec 50%,#cddde8 51%,#c8dae6 100%);
}
.notice span {background: url(../images/fugue/information.png) no-repeat center left;}
